
.claimsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; /* adjust this value as per your requirements */
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}


/* This targets the ant-card-meta class within the card with id myCard */
#myCard .ant-card-meta {
  display: block; /* Change flex to block */
}

.claimItem {
  flex-direction: column;
  align-items: center;
  height: 100%; /* added to ensure the grid items have the same height */
  text-decoration: none;

}

.claimImage {
  border-top-left-radius: 100px;  /* Adjust as needed */
  border-top-right-radius: 100px;  /* Adjust as needed */
}


.claimCard:hover {
  transform: scale(1.03);
  opacity: 0.9;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}


.claimCard {
  border-radius: 20px; /* Increase this value for more rounded corners */
  overflow: visible;

}

.claimTitle {
  /* Adjust these properties as needed */
  height: auto;
  line-height: normal;
  overflow: visible;
  text-overflow: clip;
  white-space: normal; /* Add this line to allow the text to wrap */
  text-decoration: none;
  font-size: 20px;
  text-align: center;
}

.claimLink {
  text-decoration: none;
}


.claimStats {
  display: flex;
  justify-content: space-between;
  margin-top: 10px; /* Add some space above the stats */
}

.claimStat {
  display: flex;
  align-items: center;
}

.claimStat img {
  margin-right: 5px;
  width: 30px;
  height: 30px;
}

.evidenceLabel {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  padding-right: 5px;
}

.commentsLabel {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  padding-right: 5px;
}

@media (max-width: 700px) {
  .claimsGrid {
    grid-template-columns: 1fr;
  }

  .claimTitle {
    /* Adjust these properties as needed */
    height: auto;
    line-height: normal;
    white-space: normal; /* Add this line to allow the text to wrap */
    text-decoration: none;
    font-size: 20px;
    text-align: center;
  }
}