/* EvidenceTicker.module.css */
.commentsTickerContainer {
    width: 100%;
    border: 1px solid #89c147;  /* Bright green */
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto; 
    margin-bottom: 40px;
}

.commentsItem {
    padding: 15px;
    border-bottom: 1px solid #89c147;
    background-color: rgba(189, 229, 41, 0.1); 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.commentsItem:last-child {
    border-bottom: none; /* To remove the bottom border from the last item */
}

.commentsItem p {
    font-size: 16px;
    margin: 2px;
}

.commentsItem p .commentsUserName {
    font-weight: bold;
    font-family: 'Roboto-bold', sans-serif;
}

.commentsItem .seeCommentClaimLink {
    color: #252CFC;;
    font-family: 'Roboto', sans-serif;
}

.commentsSummary {
    margin-left: 5px;
    font-family: 'Roboto', sans-serif;
}
