.form {
    width: 95%;
    max-width: 25rem;
    margin: 2rem auto;
  }
  
  .control {
    margin-bottom: 0.5rem;
  }
  
  .control label {
    font-weight: bold;
    font: roboto;
    margin-bottom: 0.5rem;
    color: #353336;
    display: block;
   
  }
  
  .control input {
    display: block;
    font: roboto;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #232327;
    padding: 0.25rem;
    background-color: #fffefe;
  }
  
  .action {
    margin-top: 1.5rem;
  }
  

  .action button {
    font-size: 16px;
    font: roboto;
    padding: 12px 23px;
    background-color: #BDE529;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    border-width: 0;
    border-radius: 5px;
   
  }
  
  .action button:hover {
    background-color: #252CFC;
    color: white;
    transform: scale(1.1); /* Make the button grow a bit */
  }
  