:root {
 

  .header {
    display: flex;
    align-items: center; /* Centers the child elements vertically */
    padding: 10px;
    margin: 50px 86px 15px 0px;
  }
  
  .logo-container {
    margin-right: 50px; /* Adds some spacing between the logo and the links */
    padding-left: 30px;
  }
  
  .header a {
    margin: 0 0px; /* Adds some horizontal spacing between the links */
    padding-left: 266px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: black;
    transition: color 0.3s ease;
  }
  
  .header a:hover {
    color: #252CFC;
  }
  
  .logo-container{
    flex-grow: 1;
  }


  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 20px;
    margin: 0px 40px;
    padding: 60px 250px; /* Add 20px of horizontal padding */
  }
  
 .grid-item img {
  width: 100%;
  height: auto;
}



.evidence-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  margin: 0 auto; /* Margin auto on the left and right will center the grid */
  padding: 0px; /* Remove horizontal padding to not affect the centering */
  border: 2px solid black;
  width: 70%; /* You might want to restrict the width of the grid */
  gap: 1px; /* This creates space between cells */
  background-color: black; /* This will show through the gaps */
}

.evidence-header {
  text-align: center;
  background-color: white; /* This will cover the grid's background color */
  padding: 20px

}

.evidence-content {
  text-align: left;
  padding: 20px;
  background-color: white; /* This will cover the grid's background color */
  padding: 15px
}



}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
