.h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
  font-weight: 700;
  color: #030303;
  margin-bottom: 30px;
  margin-top: 35px;
  text-align: center;
}

.tickerGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  margin: 0 auto; /* Margin auto on the left and right will center the grid */
  padding: 0px; /* Remove horizontal padding to not affect the centering */
  width: 88%; /* You might want to restrict the width of the grid */
  gap: 1px; /* This creates space between cells */
  column-gap: 25px; /* This creates space between columns */
}

.tickerColumn {
  flex: 1;
  margin: 1em;
}



/* Mobile */
@media (max-width: 1200px) {
  
  .content, .card, .center {
    padding: .5rem;
  }
  .p, .claimdescriptionp {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1rem;
  }

  .h1, .h2, .h3 {
    font-size: 1.5rem;
  }

 

  .tickerGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    margin: 0 auto; /* Margin auto on the left and right will center the grid */
    padding: 0px; /* Remove horizontal padding to not affect the centering */
    width: 88%; /* You might want to restrict the width of the grid */
    gap: 1px; /* This creates space between cells */
    column-gap: 25px; /* This creates space between columns */
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {

}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
