.commentsContainer {
    margin: 20px;
  }
  
  .comment {
    font-family: 'Roboto', sans-serif;
    margin: 10px;
    padding: 9px;
    font-size: 14px; /* Adjust the font size of the comment text here */
    color: #555; /* Slightly lighter color for the comments */
    border: 1px solid #ccc;
    border-radius: 20px;
  }

  .header {
    margin: 10px;
    padding: 9px;
    font-size: 15px; 
    color: #555; 
    border-top: 1px solid #ccc;
  }
  
  .commentAuthor {
    font-weight: bold;
  }
