

.evidenceHeader {
  text-align: center;
  padding: 20px

}


.evidenceBox {
    background-color: white;
    color: #bde529;
    border: 1px solid #bde529;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    padding: 1em; 
    border-radius: 5px; 
  }
  

.claimdescriptionp {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: black;
  align-items: center;
  margin-left: 350px;
  margin-right: 350px;
}

.claimtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-weight: 600;
    color: black;
    align-items: center;
  }

.evidenceText {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: black;
  line-height: 1.5;
}

.evidenceGrid {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0;
  width: 80%;
  overflow-x: auto; /* Add this line */
  gap: 1px; 
}

.evidenceColumn {
  flex: 1;
  margin: 0; /* Remove margin here */
  padding: 1em; /* You can adjust padding to give inner space */
  min-width: 0;
}

.evidenceColumn:nth-child(1) {
  background-color: rgba(120, 127, 250, 0.6); 
  border-radius: 13px; /* This rounds the corners */

}

.evidenceColumn:nth-child(2) {
  background-color: rgba(189, 229, 41, 0.6); 
  border-radius: 13px; /* This rounds the corners */

}



.evidenceCard {
  border: 1px solid black;
  border-radius: 4px;
  padding: 1em;
  margin: 1em 0;
  background-color: white;
  box-sizing: border-box; /* Make sure padding and border are included in the width */
  word-wrap: break-word; /* Break long words to prevent overflow */
}

.header {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
}

.evidenceUrl {
  font-family: 'Roboto', sans-serif;
  color: #252CFC;
  font-size: 14px;
  text-decoration: none;
  margin-bottom: 10px; /* Optional: adds some space between the link and the summary */
  display: block; /* Makes the link take up the full width of its container, so the summary appears on a new line */
}

.evidenceUrl:hover {
  text-decoration: underline;
}


.toggleAndTextContainer {
  display: flex;
  align-items: center;
}


.toggleButton {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fffefe;
  color: #bde529;
  font-size: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: solid 1px #bde529;
  transition: all 0.3s ease;
}

.toggleButton:hover {
  background-color: #bde529;
  color: #fffefe;
}

.toggleButton:active {
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.7); /* Inner shadow changes on click */
  background-color: #004085;
}

.addCommentText {
  /* Add your specific styling here */
  font-size: 14px;
  margin-left: 10px;
  color: #555; 
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}



.commentFormContainer {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-top: 10px;
}

.commentFormInput {
  width: 100%;
  height: 30px;
  padding: 6px; /* 10 points padding around the text */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px; /* Normal font size for the input */
  resize: none;  /* Disables the default resize handle in the bottom-right corner */
  overflow-y: hidden;  /* Hides vertical scrollbar */
  font-family: 'Roboto', sans-serif;
}

.commentFormSubmitButton {
  height: 40px;
  padding: 0 10px; /* 10 points padding around the text */
  color: white;
  background-color: #787FFA;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.commentFormSubmitButton:hover {
  background-color: #252CFC;
}


.actionIcons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.deleteIcon {
  color: #5555555c;
  cursor: pointer;
  font-size: 15px;
  padding: 5px;
}

@media (max-width: 1200px) {
.evidenceGrid {

  width: 100%;
  min-width: 1000px;
}

}