.contactFormContainer {
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  margin-top: 80px;
  padding-bottom: 100px;
  /* Remove the fixed height to prevent the container from extending past the content */
}

.contactForm {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.contactForm input[type='url'],
.contactForm select,
.contactForm textarea {
  width: 100%; /* Make input and textarea elements stretch to fill the container */
  box-sizing: border-box; /* Include padding and border in element's total width */
  height: 40px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.contactForm textarea {
  height: 100px;
}

.contactForm button[type='submit'] {

  width: 100%; /* You may add this line to make the submit button also extend to the full width */
  color: white;
  background-color: #252CFC;
  border: 3px solid #252CFC;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font: 20px 'Roboto', sans-serif;
  font-weight: 600;
  padding: 13px;
}

.contactForm button[type='submit']:hover {
  background-color: #ffffff;
  color: #030303;
}

.errorMessage {
  color: red;
  font-size: 14px;
}

.successMessage {
  color: #252CFC;
  font-size: 14px;
}

.formTitle {
  font-size: 24px;
  text-align: center;
  color: #252CFC;
}

.editorContainer {
  height: 200px; /* You can set the height as needed */
  border: 1px solid #ddd; /* Add a border to make it visible */
  padding: 10px;
  overflow: auto;
}

.formatButton {
  background-color: #f0f0f0; /* Set a background color */
  border: none;
  padding: 5px;
  cursor: pointer;
  margin-right: 5px;
}


.public-DraftStyleDefault-h1 {
  font-size: 2em;
  font-weight: bold;
}

.public-DraftStyleDefault-h2 {
  font-size: 1.5em;
  font-weight: bold;
}

.public-DraftStyleDefault-h3 {
  font-size: 1.17em;
  font-weight: bold;
}


.public-DraftStyleDefault-pre {
  white-space: pre-wrap;
}


.loginButton {
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  border-width: 0px;
  border-radius: 6px;
  margin: 30px;
  display: flex;
  justify-content: center;
}

.button:hover {
  background-color: #252CFC;
  color: white;
  transform: scale(1.1); /* Make the button grow a bit */
}

@media (max-width: 1200px) {
  .contactFormContainer {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 60px;
    padding-bottom: 50px;
    /* Remove the fixed height to prevent the container from extending past the content */
  }

  .contactForm {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

}