.claimdescriptionp {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: black;
    align-items: center;
    margin-left: 350px;
    margin-right: 350px;
    text-align: center;
    padding: 50px;
  }
  
  .claimtitle {
      font-family: 'Roboto', sans-serif;
      font-size: 35px;
      font-weight: 600;
      color: black;
      text-align: center;
      margin-left: 330px;
      margin-right: 330px;
      padding-top: 40px;
    }

    .claimImage {
        width: 100%;  /* This will make the image take the full width of its parent container */
        height: 300px; /* This sets a fixed height for the image */
        object-fit: cover; /* This makes the image cover the entire dimensions of its box */
      }
      