.claimdescriptionp {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: black;
    align-items: center;
    margin-left: 350px;
    margin-right: 350px;
    text-align: center;
    padding: 11px;
  }
  
  .claimtitle {
      font-family: 'Roboto', sans-serif;
      font-size: 35px;
      font-weight: 600;
      color: black;
      text-align: center;
      margin-left: 330px;
      margin-right: 330px;
      padding-top: 20px;
    }

    .claimImage {
        width: 100%;  /* This will make the image take the full width of its parent container */
        height: 280px; /* This sets a fixed height for the image */
        object-fit: cover; /* This makes the image cover the entire dimensions of its box */
      }
      
      .seeMore {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: black;
        align-items: center;
        margin-left: 350px;
        margin-right: 350px;
        text-align: center;
        padding: 10px;
      }

      .percentagesliderlabel {
        font-family: 'Roboto', sans-serif;
        font-size: 19px;
        font-weight: 700;
        color: black;
        display: flex; /* Add this */
        justify-content: center; /* Add this */
        align-items: center;
        text-align: center;
        padding-top: 10px;
      }

      @media (max-width: 1200px) {
        
        .claimdescriptionp {
          font-family: 'Roboto', sans-serif;
          font-size: 12px;
          font-weight: 600;
          color: black;
          align-items: center;
          margin-left: 10px;
          margin-right: 10px;
          text-align: center;
          padding: 11px;
        }
        
        .claimtitle {
            font-family: 'Roboto', sans-serif;
            font-size: 22px;
            font-weight: 600;
            color: black;
            text-align: center;
            margin-left: 10px;
            margin-right: 10px;
            padding-top: 15px;
          }

          .seeMore {
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            font-weight: 500;
            color: black;
            align-items: center;
            margin-left: 10px;
            margin-right: 10px;
            text-align: center;
            padding: 8px;
          }
    
          .percentagesliderlabel {
            font-family: 'Roboto', sans-serif;
            font-size: 19px;
            font-weight: 700;
            color: black;
            display: flex; /* Add this */
            justify-content: center; /* Add this */
            align-items: center;
            text-align: center;
            padding-top: 10px;
          }

      }